<li id="${index}">
    
    <div class="link">
        <!--<a href="#" class="vote"><img src="http://ycombinator.com/images/grayarrow.gif"/></a>-->
        <a href="${url}" target="_blank">${title}</a> <span>${src}</span>
    </div>
    <div class="subtext">
        ${score} points by <a href="http://news.ycombinator.com/user?id=${user}" target="_blank">${user}</a> 
        ${age} ago | <a href="http://news.ycombinator.com/item?id=${voteid}" target="_blank">${commentcount} comments</a>
    </div>

</li>
